/* todo use SASS to make this dry, more readable, more maintainable etc...*/

/* Material design color codes 
 * BLUE:
 * weight | hex code
 * 200 #90CAF9
 * 300 #64B5F6
 * 400 #42A5F5
 * 500 #2196F3
 * 600 #1E88E5
 * 700 #1976D2
 * 800 #1565C0
 * 900 #0D47A1
 * 
 * BLUE GREY
 * 900 #263238
 *
 * GREY
 * 100 #F5F5F5
 * 300 #E0E0E0
 * 600 #757575
 * 900 #212121
*/

/* The banner wrapper */
div.banner {
    align-items: center;
    background: #263238 ;
    border-bottom: 1px gainsboro solid;
    color: white;
    display: flex;
    height: 65px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

div.banner img.logo {
    height: 40px;
    padding: 3px;
    width: 40px;
}

div.banner span.title {
    padding-left: 10px;
}