body {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Geneva, Verdana, sans-serif
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, supported by Chrome and Opera */
}

/* Creates the padding indent required for content to clear 
the menu and toolbar*/
#spnContent {
    height: 100%;
    padding-left: 60px;
    padding-right: 350px;
    padding-top: 105px;
    /*height: calc(100% - 60px);*/ /*Not required as bootstrap uses div box-sizing: border-box*/
}

/* The div which will house the mxgraph drawing area */
#spnCanvas {
    background: url('../images/grid.gif'); 
    /* background: #FAFAFA; */
    cursor: default;
    height: 100%; 
    overflow: auto;
    position: relative; 
    width: 100%; 
}