div.spnMenu {
    background: #fff;
    border-bottom: 1px gainsboro solid;
    top: 65px;
    left: 0;
    right: 0;
    margin: 0;
    padding-left: 5px;
    position: fixed;
    width: 100%;
    z-index: 100;
}