div.spnProperties {
    background-color: white;
    border-left: 1px gainsboro solid;
    height: 100%;
    right: 0;
    position: fixed;
    padding-top: 105px;
    top: 0;
    width: 350px;
    z-index: 90;
}

div.spnProperties div.propertiesForm {
    padding: 30px 10px 0px 10px;
}

div.spnProperties ul.menuItems {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding-top: 5px;
}

div.spnProperties li.menuItem {
    align-items: center;
    cursor: default;
    display: table-cell;
    height: 30px;
    list-style: none;
}

div.spnProperties li.spacer { 
    display: table-cell;
    height: 30px;
    list-style: none;
    border-bottom: 1px gainsboro solid;
    width: 100%
}

div.spnProperties li.spacer:hover { 
    background: inherit;
}

div.spnProperties li.menuItem:first-child.active > div.menuItemContent {
    border-left: 1px rgba(0, 0, 0, 0) solid;
}

div.spnProperties li.menuItem > div.menuItemContent {
    border-bottom: 1px gainsboro solid;
    border-right: 1px rgba(0, 0, 0, 0) solid;
    border-left: 1px rgba(0, 0, 0, 0) solid;
    border-top: 1px rgba(0, 0, 0, 0) solid;
    border-top-right-radius: 2px;
    border-top-left-radius: 0px;
    height: 100%;
    padding: 5px 5px;
    text-align: center;
    width: 100%;
}

div.spnProperties li.menuItem.active > div.menuItemContent {
    border-bottom: 1px rgba(0, 0, 0, 0) solid;
    border-right: 1px gainsboro solid;
    border-left: 1px gainsboro solid;
    border-top: 1px gainsboro solid;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

div.spnProperties li.menuItem.active:hover > div.menuItemContent {
    background: none !important;
}


div.spnProperties li.menuItem:hover > div.menuItemContent {
    background: #efefef;
}