div.leftToolbar {
    background: #fff;
    border-right: 1px gainsboro solid;
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 60px;
    z-index: 90;
}

div.leftToolbar ul.toolbarItems {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding-top: 105px;
}

div.leftToolbar li.toolbarItem {
    align-items: center;
    cursor: default;
    display: flex;
    height: 60px;
    list-style: none;
}

div.leftToolbar li.toolbarItem > div.toolbarItemContent {
    height: 100%;
    padding-left: 5px;
    text-align: center;
    width: 100%;
}

div.leftToolbar li.toolbarItem.active > div.toolbarItemContent {
    border-left: 5px grey solid;
    padding-left: 0px;
}

div.leftToolbar li.toolbarItem:hover > div.toolbarItemContent {
    background: #efefef;
}

div.leftToolbar li.toolbarItem img {
    height: 30px;
    width: 30px;
    
    /* Vertically center the image in the contianing div */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

